body{
	margin: 35px;
	background-color: #FFFFFF;
}


.Title{
	font-size: 20px;
	color: #B92202;
	padding-bottom: 0px;
}

h1 {
	font-family: Times, Times New Roman, serif;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 5px;
}

h2 {
	color: #000000;
	font-family: Times, Times New Roman, serif;
	font-size: 20px;
	margin-top: 0px;
	font-style: italic;
	margin-bottom: 0px;
}

.name {
	color: #000000;
	font-family: Times, Times New Roman, serif;
	font-size: 20px;
	font-size: 15px;
	margin-top: -5px;
	font-style: italic;
	margin-bottom: 40px;
}

.Article{
	font-size: 15px;
	font-family: Times, Times New Roman, serif;
	font-size: 20px;
	max-width: 1000px;
}

.Image1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Image2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Image3 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}